body{
    background-color: blue;
}

.content{
    width: 80%;
    height: 40px;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    justify-items: center;
}


@media screen and (min-width: 992px) {
    .content{
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
  }