/* Main Background*/ 
.pokemonBkg{
    position: absolute;
    width: 79.9%;
    height: 52%;
    left: 10%;
    bottom: 30%;
    
}

/* Podekex*/
#pokemonColor{
    width: 15.4%;
    height: 10%;
    position: absolute;
    background-color: black;
    top: 3.2%;
    left: 10.6%;
    border-radius: 50%;
    box-shadow: 1px 0.5px 1px black, 1px 0.5px 1px black;
}

.pokedex .pokedexImg{
    max-width: 440px;
    height: 90vh;
    border-radius: 1rem;
    

}

.pokemonImg{
    position: absolute;
    left: 34%;
    width: 31%;
    bottom: 35%;
}

.pokemonType{
    position: absolute;
    left: 40%;
    top: 28%;
    
}

#pokemonName{
    position: absolute;
    width: 8rem;
    top: 21%;
    left: 31%;
    /* background-color: aqua; */
    color: white;
    border-radius: 1rem;
    text-align: center;
    justify-items: center;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.pokemonType span{
    
    border-radius: 1rem;
    padding: 0.25rem;
}

.pokemonSearch{
    position: absolute;
    width: 84.5%;
    background-color: black;
    left: 7.9%;
    bottom: 22%;
    border-radius: 1rem;
    color: white;
}

.pokemonSearch input{
    overflow: visible;
    overflow: visible;
    background-color: black;
    border: none;
    color: white;
    padding: 2px;
    text-align: center;
}

.pokemonData{
    position: absolute;
    left: 30.4%;
    bottom: 6.1%;
    background-color: black;
    width: 44%;
    height: 14.1%;
    box-shadow: 1px 1px 1px black, 2px 1px 1px black, 3px 1px 1px black;
}

.pokemonData ol{
    list-style: none;
}

.pokemonStats{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: white;
    font-size: 80%;
    padding: 6%;
    margin-top: 5%;

}

.pokemonStats li{
   margin: .1%;
}

.fire {
    background-color: #ee7f30;
    
}
.grass{
    background-color: #77c850;
}
.normal{
    background-color: #a6a877;
}
.water{
    background-color: #678fee;
}
.electric{
   background-color:#f7cf2e ; 
}
.ice{
    background-color: #98d5d7;
}
.ground{
    background-color: #dfbf69;
}
.flying{
    background-color: #a98ff0;
}
.poison{
    background-color: #a040a0;
}
.fighting{
    background-color: #bf3029;
}
.psychic{
    background-color: #f65687;
}
.dark{
    background-color: #725847;
}
.rock{
    background-color: #b8a137;
}
.bug{
    background-color: #a8b720;
}
.ghost{
    background-color: #6e5896;
}
.steel{
    background-color: #b9b;
}
.dragon{
    background-color: #6f38f6;
}
.fairy{
    background-color: #f9aec7;
}

