/* Main Background*/ 
.pokemonBkg{
    position: absolute;
    width: 79.9%;
    height: 52%;
    left: 10%;
    bottom: 30%;
    
}

/* Podekex*/
.pokedex .pokedexImg{
    max-width: 440px;
    height: 90vh;
    border-radius: 1rem;
    

}

.pokemonImg{
    position: absolute;
    left: 34%;
    width: 31%;
    bottom: 35%;
}

.pokemonType{
    position: absolute;
    left: 40%;
    top: 28%;
    
}

h5{
    position: absolute;
    width: 8rem;
    top: 21%;
    left: 31%;
    background-color: aqua;
    color: white;
    border-radius: 1rem;
    text-align: center;
    justify-items: center;
    font-size: 1.2rem;
}
.pokemonType span{
    background-color: bisque;
    border-radius: 1rem;
    padding: 0.25rem;
}

.pokemonData{
    position: absolute;
    left: 30.4%;
    bottom: 5.5%;
    background-color: black;
    width: 44%;
    height: 14.5%;
    box-shadow: 1px 1px 1px black, 2px 1px 1px black,3px 1px 1px black;
}

.pokemonData ol{
    list-style: none;
}

.pokemonStats{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: white;
    font-size: 93%;
    padding: 6%;
    margin-top: 8%;

}

.pokemonStats li{
   margin: .1%;
}