
.pokemonBkg{
    position: absolute;
    width: 76%;
    height: 49.5%;
    left: 12%;
    bottom: 31.3%;
    box-shadow: 2px 2px 3px black;
}

.pokedex .pokedexImg{
    max-width: 440px;
    height: 90vh;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px black, 2px 2px 3px black;

}

.pokemonImg{
    position: absolute;
    left: 34%;
    width: 31%;
    bottom: 35%;
}

.pokemonType{
    position: absolute;
    left: 40%;
    top: 28%;
    
}

h5{
    position: absolute;
    width: 8rem;
    top: 21%;
    left: 31%;
    background-color: aqua;
    color: white;
    border-radius: 1rem;
    text-align: center;
    justify-items: center;
    font-size: 1.2rem;
}
.pokemonType span{
    background-color: bisque;
    border-radius: 1rem;
    padding: 0.25rem;
}

.pokemonData{
    position: absolute;
    left: 33%;
    bottom: 9%;
}

.pokemonData ol{
    list-style: none;
}

.pokemonStats{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: start;
    color: white;
    font-size: .92rem; 
}

.pokemonStats li{
    margin-right: 1rem;
}